@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

.help {
    /* height: 36vh; */
    margin-top: 5%;
    background-color: var(--main-bg-color);
    /* opacity: 0.9; */
    padding:3%;
  }

  
:root {
  --main-bg-color: #6096fd;
  --main-color: rgb(3, 27, 136);
  --primary-color: #ffffff;
  --secondary-color: #000000;
}
  
  .social {
    display: flex;
    justify-content: center;
  }
  .social .bx {
    font-size: 300%;
    padding: 0.5%;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .social .bx:hover {
    color: var(--main-color);
  }
  
  .helpc {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 1%;
  }
  
  .helpc .cell {
    font-size: 100%;
    font-size: large;
    color: var(--primary-color);
  }
  
  .helpc .cell:hover {
    color: var(--main-color);
  }
  
  .helpc .bx {
    font-size: 180%;
    color: var(--primary-color);
  }
  
  .help input {
    width: 40%;
    margin-top: 0.5%;
    margin-left: 30%;
    border-radius: 5px;
    border: none;
  }
  
  .license {
    /* height: 5vh; */
    background-color: var(--main-bg-color);
    text-align: center;
    color: var(--primary-color);
    padding: 0.5%;
    border-top:5px groove var(--primary-color);
  }