.almendra-regular {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .almendra-bold {
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .almendra-regular-italic {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .almendra-bold-italic {
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: italic;
  }
  